@charset "UTF-8";

body {
  background: #fff url(../gfx/bg.png);
  color: #aaa;
  margin-bottom: 250px;
}

h1 {
  margin: 0px 5px 5px;
  color: #ff7600;
}

a {
  color: #ff7600;
}

a:hover,
a:focus {
  color: #ffbb00;
}

.container {
  max-width: 970px;
}

.box {
  background-color: rgb(10, 10, 10);
  background-color: rgba(10, 10, 10, 0.3);
  border: solid thin #141414;
  padding: 10px 10px;
  margin-top: 20px;
  width: 100%;
}

.repos {
  padding: 10px 0px;
}

.repo,
.repo-plain {
  display: inline-block;
  margin: 10px -4px 10px 47px;
  overflow: hidden;
  position: relative;
  width: 250px;
  height: 250px;
}

.repo img,
.repo-plain img {
  display: block;
  margin: auto;
}

.repo .caption,
.repo-plain .caption {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  font-size: 18px;
  text-align: center;
  background-color: rgb(10, 10, 10);
  background-color: rgba(10, 10, 10, 0.8);
  padding: 0px 3px;
}

.repo-plain .caption {
  background: none;
}
